.header_option_container{
  display:none;
  padding:20px;
  background-color: white;
  float:right;
  width: 40%;
}
.close_header_option_container{
  float:right;
  height:75px;
  cursor:pointer;
}
.heading{
  font-size: 130%;
  font-weight:bold;
}

.header_option{
  margin-left:5px;
}

.smaller_text{
  font-size: 75%;
}
.player-icon{
  height:100px;
}
